/* Eric Meyer’s “Reset CSS” */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px; } ul{padding: 0;}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 100%;
    margin: 0;
}
/*Start again button*/
#start_again{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}
#start_again:hover{
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: rgba(255, 255, 255, 0.4);
    border-color: black;
}
.game_over{
    text-transform: uppercase;
}

/*hide checkbox*/
input {
    position: fixed;
    left: -999px;
    top: -999px;
    opacity: 0;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

/*Page load*/
#p_pre{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-animation: page_load 2s linear;
            animation: page_load 2s linear;
}

@-webkit-keyframes page_load{
    0%{
        background: #fff;
    }
    20%{
        background: #fff;
    }
    100%{
        background: hsla(210, 55%, 56%, 0.45);
    }
}

@keyframes page_load{
    0%{
        background: #fff;
    }
    20%{
        background: #fff;
    }
    100%{
        background: hsla(210, 55%, 56%, 0.45);
    }
}
 
.contpre{
    width: 100%;
    height: auto;
    margin: 0 auto;
    color:rgba(78, 78, 78, 0.88);
    font-size: 3em;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20%;
}

/*Game Area*/
#page-wrapper {
    min-height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(210, 79%, 30%)), to(hsl(0, 0%, 90%)));
    position: relative;
}
/*stars - background*/
#page-wrapper:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/stars.png);
    background-size: cover;
}

/* UFO counter
https://www.w3schools.com/css/css_counters.asp */
.input-circle:checked {
    counter-increment: ufo;
}

/* Total scores to screen */
.total_scores:after {
    content: counter(ufo);
}

.total_scores {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 8%;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.8);
}


.input-circle ~ .ufo {
    display: none;
    -webkit-animation: move 6s infinite alternate;
            animation: move 6s infinite alternate;
}

.input-circle1:not(:checked) ~ .ufo1,
.input-circle2:not(:checked) ~ .ufo2,
.input-circle3:not(:checked) ~ .ufo3,
.input-circle4:not(:checked) ~ .ufo4,
.input-circle5:not(:checked) ~ .ufo5,
.input-circle6:not(:checked) ~ .ufo6 {
    display: block;
}

.ufo {
    position: absolute;
    left: 0;
    cursor: crosshair;
}


.ufo1 {
    top: 10%;
    -webkit-animation-delay: -2s !important;
            animation-delay: -2s !important;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
}

.ufo2 {
    top: 15%;
    -webkit-animation-delay: -5s !important;
            animation-delay: -5s !important;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
}

.ufo3 {
    top: 30%;
    -webkit-animation-delay: -8s !important;
            animation-delay: -8s !important;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.ufo4 {
    top: 40%;
    -webkit-animation-delay: -13s !important;
            animation-delay: -13s !important;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.ufo5 {
    top: 35%;
    -webkit-animation-delay: -18s !important;
            animation-delay: -18s !important;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
}

.ufo6 {
    top: 60%;
    -webkit-animation-delay: 2s !important;
            animation-delay: 2s !important;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
}

@-webkit-keyframes move {
    0% {
        left: 0%;
    }

    20% {
        left: 20%;
        top: 50%;
    }
    30%{
        left: 35%;
    }

    40% {
        top: 30%;
        left: 60%;
    }

    60% {
        top: 80%;
        left: 80%;
    }

    80% {
        top: 10%;
        left: 20%;
    }
    90%{
        top: 15%;
        left: 30%;
    }

    100% {
        top: 30%;
        left: 20%;
        
    }
}

@keyframes move {
    0% {
        left: 0%;
    }

    20% {
        left: 20%;
        top: 50%;
    }
    30%{
        left: 35%;
    }

    40% {
        top: 30%;
        left: 60%;
    }

    60% {
        top: 80%;
        left: 80%;
    }

    80% {
        top: 10%;
        left: 20%;
    }
    90%{
        top: 15%;
        left: 30%;
    }

    100% {
        top: 30%;
        left: 20%;
        
    }
}


.time_left {
    background-color: rgba(108, 108, 108, 0.31);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 3%;
    position: fixed;
}


.time_left span {
    display: block;
    background: -webkit-linear-gradient(top, rgba(0, 47, 173, 0.67), #000086 50%, rgba(0, 47, 173, 0.67));
    width: 100%;
    height: 100%;
    -webkit-animation: time_left 15s linear;
            animation: time_left 15s linear;
}

@-webkit-keyframes time_left {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
        display: inline-block;
    }
}

@keyframes time_left {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
        display: inline-block;
    }
}

.gameover {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-animation: gameover 15s linear forwards;
            animation: gameover 15s linear forwards;
    font-size: 3em;
    color: white;
    text-align: center;
    line-height: 500px;
}

@-webkit-keyframes gameover {
    0% {
        left: -5000px;
        bottom: 100%;
    }

    95% {
        left: -5000px;
        bottom: 100%;
    }

    100% {
        left: 0px;
    }
}

@keyframes gameover {
    0% {
        left: -5000px;
        bottom: 100%;
    }

    95% {
        left: -5000px;
        bottom: 100%;
    }

    100% {
        left: 0px;
    }
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 5px;
}


/*===================== UFO boby ======================= */

.ufo {
    background: #0a0084;
    border: 1px solid #000;
    border-radius: 50% 50% 50% 50%;
    font-size: 0.8em;
    text-align: center;
    position: absolute;
    width: 120px;
    height: 50px;
    z-index: 999;
}

.ufo:after,
.ufo:before {
    content: "";
    position: absolute;
    top: 50%;
}

/* ======================= UFO legs ====================== */

.ufo:after {
    border-radius: 100% 100% 0% 0%;
    -webkit-box-shadow: inset 0px 4px 0px #000000;
            box-shadow: inset 0px 4px 0px #000000;
    width: 100px;
    height: 80px;
    margin-left: -50px;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-animation: legs 3s linear infinite;
            animation: legs 3s linear infinite;
}

/* ======================= UFO top ====================== */

.ufo:before {
    background: #FFC37F;
    border: 1px solid black;
    border-radius: 100% 100% 0% 0%;
    margin-top: -33px;
    margin-left: -25px;
    width: 50px;
    height: 10px;
}

/* ======================= UFO legs animation ====================== */

@-webkit-keyframes legs {
    0%{
        background: rgba(245, 255, 0, 0);
    }
    50% {
        background: rgba(245, 255, 0, 0.5);
    }
    100%{
        background: rgba(240, 250, 3, 0);
    }
}


@keyframes legs {
    0%{
        background: rgba(245, 255, 0, 0);
    }
    50% {
        background: rgba(245, 255, 0, 0.5);
    }
    100%{
        background: rgba(240, 250, 3, 0);
    }
}

@media screen and (max-width: 720px) {
    /*=================== UFO boby ===================*/
    .ufo {
        width: 60px;
        height: 30px;
    }
    /*=================== UFO legs ==================*/
    .ufo:after {
        width: 50px;
        height: 40px;
        margin-left: -25px;
    }
    /*=================== UFO top ===================*/
    .ufo:before {
        background: #f0ff3e;
        margin-top: -18px;
        margin-left: -12px;
        width: 25px;
        height: 5px;
    }
    .contpre{
        margin-top: 40%;
    }
}

